body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
section {
    width: 98%;
}
section > h1{
    text-align: center;
    text-decoration: underline;
}