.header{
    border-bottom: 1px solid rgb(229, 229, 229);
    display: flex;
}

.header ul li:nth-last-child(2) span{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    transition: all 2s ease;
}
.header ul{
    justify-content: end;
}