.header{
    border-bottom: 1px solid hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
}
.logo{
    font-size: medium;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(#d81d1d, #1619a6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
}
.logo p::first-letter{
    font-size: x-large;
    font-weight: bold;
}
.header ul li:nth-last-child(2) span{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    transition: all 2s ease;
}
.header ul{
    justify-content: end;
}